@font-face {
    font-family: 'Poppins500';
    src: url(./font/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins900';
    src: url(./font/Poppins-ExtraBold.ttf);
    font-weight: 900;
}

* {
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins500';
}

.container {
    width: 1140px;
    margin: 0% auto;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-logo {
    width: 30px;
    height: 30px;
}

.menu {
    padding-top: 20px;
}

.menu-link {
    color: black;
    font-size: 21px;
}

.btn {
    background-color: #FFD163;
    padding: 10px;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    color: cornsilk;
}

.content-list {
    padding-top: 150px;
    float: left;
}

.content-title {
    font-size: 50px;
    font-family: 'Poppins900';
}

.content-color {
    color: #FFD163;
    font-family: 'Poppins900';
}

.content-text {
    font-size: 21px;
    width: 340px;
    margin-bottom: 50px;
}

.btn2 {
    background-color: #FFD163;
    padding: 10px;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    color: cornsilk;
    box-shadow: -10px 10px 20px #FFD163;
}

.img-fast-g {
    width: 450px;
    height: 450px;
    float: right;
    padding-top: 50px;
    padding-right: 50px;
}