@font-face {
    font-family: 'Poppins500';
    src: url(./font/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins900';
    src: url(./font/Poppins-ExtraBold.ttf);
    font-weight: 900;
}

@font-face {
    font-family: 'Poppins300';
    src: url(./font/Poppins-Regular.ttf);
    font-weight: 300;
}

body {
    background-color: #E5E5E5;
}

* {
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins500';
}

.container {
    width: 1140px;
    margin: 0% auto;
    height: 100vh;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-logo {
    width: 30px;
    height: 30px;
}

.menu {
    padding-top: 20px;
}

.menu-link {
    color: black;
    font-size: 21px;
}

.btn {
    background-color: #FFD163;
    padding: 10px;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    color: cornsilk;
}

.content-list {
    padding-top: 150px;
    float: left;
}

.content-title {
    font-size: 50px;
    font-family: 'Poppins900';
}

.content-color {
    color: #FFD163;
    font-family: 'Poppins900';
}

.content-text {
    font-size: 21px;
    width: 340px;
    margin-bottom: 50px;
}

.btn2 {
    background-color: #FFD163;
    padding: 10px;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    color: cornsilk;
    box-shadow: -10px 10px 20px #FFD163;
}

.fast-img {
    /* width: 300px; */
    height: 300px;
    position: relative;
    transform: translate(10%, -30%);
}

.fast-title {}

.img-fast-g {
    width: 450px;
    height: 450px;
    padding-top: 50px;
    padding-left: 200px;
}

.services {
    text-align: center;
    height: 680px;
    background-image: url(./img/Path\ 22.png), url(./img/Ellipse\ 5.png), url(.//img/Ellipse\ 6.png);
    background-size: 600px 600px, 400px 400px, 60px 60px;
    background-position-x: 12%, 90%, 50%;
    background-position-y: 0%, 80%, 90%;
    background-repeat: no-repeat;
    position: relative;
}

.services-fast-list {
    background-color: #F6DEA5;
    width: 300px;
    border-radius: 50px;
    padding: 20px;
}

.services-menu-list {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}

.services-title {
    font-size: 25px;
}

.services-text {
    padding-top: 120px;
}

.services-text-title {
    font-size: 24px;
    font-family: 'Poppins500';
}

.food {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.food-list {
    width: 350px;
    background-color: white;
    /* padding: 20px; */
    border-radius: 15px;
    height: 500px;
}

.food-text {
    padding-left: 20px;
    font-family: 'Poppins300';
    /* width: 380px; */
}

.food-img {
    width: 350px;
}

.food-title {
    padding-left: 20px;
    font-family: 'Poppins500';
}

.food-span {
    padding-left: 20px;
    display: inline-block;
    padding-top: 30px;
}

.food-space {
    display: flex;
    justify-content: space-between;
}

.maps {
    width: 20px;
    height: 20px;
}

.btn3 {
    margin-left: 80px;
}